{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="flex justify-center min-h-screen bg-gray-100 py-6 sm:py-12">
    <div class="max-w-md w-full p-8">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Forgotten your password?</h1>
        <p class="text-gray-600 text-center mb-6">Enter your e-mail address to obtain a new password.</p>
        <form method="post" class="space-y-4">
            {% csrf_token %}

            <div class="flex flex-col items-center">
                <label for="{{ form.email.id_for_label }}" class="block text-gray-700 mb-1 text-center w-full">
                    {{ form.email.label }}
                </label>
                {{ form.email|add_class:"w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" }}
                <div class="text-red-600 text-sm">
                    {{ form.email.errors }}
                </div>
            </div>

            <div class="flex justify-center">
                <input type="submit" value="Send e-mail" class="w-full py-2 bg-green-600 text-white rounded hover:bg-green-700 transition duration-150 ease-in-out cursor-pointer">
            </div>
        </form>
    </div>
</div>
{% endblock %}
