{% load thumbnail %}

{% for image in images %}
<!-- Image Card -->
<div class="group relative bg-white rounded-lg shadow-md overflow-hidden">
    <a href="{{ image.get_absolute_url }}">
        {% thumbnail image.image 300x300 crop="smart" as im %}
        <img src="{{ im.url }}" alt="{{ image.title }}" class="w-full h-60 object-cover">
        
        <!-- Title on Hover -->
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
            <span class="text-white text-lg font-semibold">{{ image.title }}</span>
        </div>
    </a>
</div>
{% empty %}
<p class="text-center text-gray-500">No images bookmarked yet.</p>
{% endfor %}
